        @{
            ViewData["Title"] = "Nenhum Contato";
        }

        <div class="text-center">
            <h1 class="display-4">Nenhum Contato Cadastrado</h1>
            <p>No momento, não há contatos cadastrados. Clique no botão abaixo para adicionar o primeiro contato.</p>
            <a class="btn btn-primary" asp-controller="Contato" asp-action="Criar">Adicionar Novo Contato</a>
        </div>
        